    {% extends 'AppBundle:Default:base.html.twig' %}
{% block content %}
<!-- new arrivals area start -->
<div class="new-arrivals-area">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="new-title-wrap">
                    <h2 class="new-title">galeri</h2>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-sm-6 col-md-6 col-lg-6 hidden-md hidden-sm">
                <div class="p-area h1-big-p">
                    <div class="p-sign">new</div>
                    <div class="p-img-area">
                        <img class="primary-img" src="{{ asset('static/img/products/new/2.jpg') }}" alt="" />
                        <img class="secondary-img" src="{{ asset('static/img/products/new/1.jpg') }}" alt="" />
                    </div>
                    <div class="p-infos">
                        <div class="p-info">
                            <h3><a href="#"> Bike Hardtail MTB </a></h3>
                            <div class="price-box">
								<span class="regular-price">
									<span class="price">$172.00</span>
								</span>
                            </div>
                            <div class="al-btns">
                                <ul class="add-to-links">
                                    <li><a title="Wishlist" class="link-wishlist" href="#">İncele <i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="p-area">
                            <div class="p-sign">new</div>
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/3.jpg') }}" alt="" />
                                <img class="secondary-img" src="{{ asset('static/img/products/new/1.jpg') }}" alt="" />
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <h3><a href="#">Carbon Fiber</a></h3>
                                    <div class="price-box">
									<span class="regular-price">
										<span class="price">$272.00</span>
									</span>
                                    </div>
                                    <div class="al-btns">
                                        <ul class="add-to-links">
                                            <li><a title="Wishlist" class="link-wishlist" href="#">İncele <i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="p-area">
                            <div class="p-sign">new</div>
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/4.jpg') }}" alt="" />
                                <img class="secondary-img" src="{{ asset('static/img/products/new/5.jpg') }}" alt="" />
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <h3><a href="#">Carbon Fiber 650B</a></h3>
                                    <div class="price-box">
										<span class="regular-price">
											<span class="price">$172.00</span>
										</span>
                                    </div>
                                    <div class="al-btns">
                                        <ul class="add-to-links">
                                            <li><a title="Wishlist" class="link-wishlist" href="#">İncele <i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padding-nr">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="p-area">
                                <div class="p-sign">new</div>
                                <div class="p-img-area">
                                    <img class="primary-img" src="{{ asset('static/img/products/new/6.jpg') }}" alt="" />
                                    <img class="secondary-img" src="{{ asset('static/img/products/new/7.jpg') }}" alt="" />
                                </div>
                                <div class="p-infos">
                                    <div class="p-info">
                                        <h3><a href="#"> Carbon Hubs Matte</a></h3>
                                        <div class="price-box">
											<span class="regular-price">
												<span class="price">$472.00</span>
											</span>
                                        </div>
                                        <div class="al-btns">
                                            <ul class="add-to-links">
                                                <li><a title="Wishlist" class="link-wishlist" href="#">İncele <i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="p-area">
                                <div class="p-sign">new</div>
                                <div class="p-img-area">
                                    <img class="primary-img" src="{{ asset('static/img/products/new/8.jpg') }}" alt="" />
                                    <img class="secondary-img" src="{{ asset('static/img/products/new/9.jpg') }}" alt="" />
                                </div>
                                <div class="p-infos">
                                    <div class="p-info">
                                        <h3><a href="#">Carbon Hubs Matte</a></h3>
                                        <div class="price-box">
											<span class="regular-price">
												<span class="price">$672.00</span>
											</span>
                                        </div>
                                        <div class="al-btns">
                                            <ul class="add-to-links">
                                                <li><a title="Wishlist" class="link-wishlist" href="#">İncele <i class="fa fa-eye"></i></a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new arrivals area end -->

{% endblock %}