{% extends 'AppBundle:Default:base.html.twig' %}
{% block content %}
	<!-- mobile-menu-area start -->
	<div class="mobile-menu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mobile-menu">
						<nav id="dropdown">
							<ul>
								<li><a href="index.html">Home</a>
									<ul>
										<li><a href="index.html" class="mega-title"> BiCycle Store </a></li>
										<li><a href="index-2.html" class="mega-title"> Shopping Mall Store </a></li>
										<li><a href="index-3.html" class="mega-title"> BackPacks Store </a></li>
										<li> <a href="index-4.html" class="mega-title"> Bakery Store </a></li>
										<li><a href="index-5.html" class="mega-title"> T-Shirt Store </a></li>
										<li><a href="index-6.html" class="mega-title"> Tools Hardware Store </a></li>
										<li><a href="index-7.html" class="mega-title"> Baby Store </a></li>
										<li><a href="index-8.html" class="mega-title"> Health Store </a></li>
										<li> <a href="index-9.html" class="mega-title"> Jewelry Store </a> </li>
										<li>  <a href="index-10.html" class="mega-title"> Application Store </a> </li>
										<li><a href="index-11.html" class="mega-title"> Lingeries Store </a></li>
										<li><a href="index-12.html" class="mega-title"> HighTech Store </a></li>
										<li><a href="index-13.html" class="mega-title"> Office Store </a></li>
										<li><a href="index-14.html" class="mega-title"> Fashion Jemiz Store </a></li>
										<li> <a href="index-15.html" class="mega-title"> GameWorld Store </a></li>
										<li>  <a href="index-16.html" class="mega-title"> Sneaker Store </a> </li>
										<li> <a href="index-17.html" class="mega-title"> Drug Store </a> </li>
										<li> <a href="index.html" class="mega-title"> Fashion Store </a> </li>
									</ul>
								</li>
								<li><a href="shop.html">Women</a>
									<ul>
										<li><a href="shop-list.html">Dresses</a>
											<ul>
												<li><a href="shop.html">Cocktail</a></li>
												<li><a href="shop-list.html">Day</a></li>
												<li><a href="shop.html">Evening</a></li>
												<li><a href="shop-list.html">T-Shirts</a></li>
											</ul>
										</li>
										<li><a href="shop.html">Clothing</a>
											<ul>
												<li><a href="shop.html">Sports</a></li>
												<li><a href="shop-list.html">run</a></li>
												<li><a href="shop.html">sandals</a></li>
												<li><a href="shop-list.html">Books</a></li>
												<li><a href="shop.html">T-Shirts</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="shop.html">Men</a>
									<ul>
										<li><a href="shop.html">Sports</a></li>
										<li><a href="shop.html">run</a></li>
										<li><a href="shop.html">sandals</a></li>
										<li><a href="shop.html">Books</a></li>
										<li><a href="shop.html">T-Shirts</a></li>
									</ul>
								</li>
								<li><a href="shop.html">Shop</a>
									<ul>
										<li><a href="shop.html">Grid View</a></li>
										<li><a href="shop-list.html">List View</a></li>
										<li><a href="cart.html">Cart page</a></li>
										<li><a href="wishlist.html">wishlist page</a></li>
										<li><a href="checkout.html">checkout page</a></li>
										<li><a href="single-product.html">single product page</a></li>
									</ul>
								</li>
								<li><a href="#">Other Pages</a>
									<ul>
										<li><a href="shop.html">shop page</a></li>
										<li><a href="single-product.html">single product page</a></li>
										<li><a href="cart.html">cart page</a></li>
										<li><a href="checkout.html">checkout page</a></li>
										<li><a href="blog.html">blog page</a></li>
										<li><a href="single-blog.html">single blog page</a></li>
										<li><a href="about.html">About page</a></li>
										<li><a href="404.html">404 page</a></li>
										<li><a href="contact.html"> contact page </a></li>
									</ul>
								</li>
								<li><a href="contact-us.html">contact</a></li>
							</ul>
						</nav>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<!-- mobile-menu-area end -->
	
	<!-- breadcrumbs area  start
    <div class="breadcrumbs-area">
	  <div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
				  <div class="breadcrumbs-title pull-left">
					<h3>About us</h3>
				  </div>
				  <div class="breadcrumbs-list pull-right">
				    <ul>
					  <li> <a title="Home" href="index.html"><span>About</span></a> <span class="separator">/ </span></li>
					  <li class="contact"> <strong>About us</strong></li></ul>
				  </div>
				</div>	
			</div>	
		</div>	
	</div>	
	<!-- breadcrumbs area  end-->
	
    <!--ABOUT US TOP AREA START-->

	<section class="about-us-info">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-heading about-us-testimonial">
						<h3>Hakkımızda</h3></div>
					<p style="font-family: Arial">
						<b>İMBAT SPOR</b>, 1993 yılında İzmir Karşıyaka’da kuruldu. Kurulduğu yıldan bu yana kaliteli ürünler ve yüksek müşteri memnuniyeti vizyonu ile faaliyet göstermektedir.<b>İMBAT SPOR</b> aynı zamanda kaliteli markalarla iş ortaklığını sürdürerek hedef çıtasını da her geçen gün yükseltiyor.
					Şuan İzmir’de iki tane mağazası bulunmakta olan firmamız, 24 yıldır hala aynı özveri ile müşterilerini memnun etmek için genç ve dinamik kadrosu ile birlikte çalışmaktadır.
					<br><b>İMBAT SPOR</b>, Perakende ve Toptan Satış imkanı ile spor malzemeleri temin etmektedir. Ayakkabıdan Plates lastiğine, Basketbol Potasından, Futbol Kalesine kadar geniş malzeme skalası ile sizlere en hızlı, garantili, güvenli ve sağlam hizmet kalitesi sunmaktadır.

					2013 yılından bu yana firmamız baskı işleri de yaparak hizmet skalasını genişletmiştir.

						<b>İMBAT SPOR</b>, kaliteli ve güvenli hizmeti ana ilkesi benimseyerek <i>Nike, Adidas, Puma, Lotto, Lescon, Sportive, Mikasa, Wilson,  Sportive, Kempa, Tryon, Spalding, UhlSport,MP, Molten, Selex </i>ve daha bir çok firma ile çalışmaktadır.
						Firmamız geçmişten bugüne koruduğu ve ilerlettiği kalitesi ile bir çok güzel işlere de imza atmıştır. Güçlü ve sağlam adımlarla güvenilir hizmet vermeye devam etmektedir.
					</p>
				</div>


			</div>
		</div>
	</section>
    <!--ABOUT US TOP AREA END-->
	<div class="container">
	<!--Ödül AREA START-->
	<section class="about-team-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 about-us-testimonial">
					<div class="about-heading">
						<h3>Ödüllerimiz</h3>
						<p>Bugüne dek hizmetimiz bir çok ödüle layık görüldü.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/hakkimizda_img/odul/1.jpg') }}" alt="">
								<div class="team-overlay"></div>
								<div class="soc-link">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<h5>Yeni Gün Gazetesi</h5>
								<p>İMBAT SPOR Teşekkür ödülüne layık görüldü.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/hakkimizda_img/odul/2.jpg') }}" alt="">
								<div class="team-overlay"></div>
								<div class="soc-link">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<h5>İzmir Bayraklı Belediyesi</h5>
								<p>İMBAT SPOR, Engelsiz yaşam etkinliğine destek verdiği için ödüle layık görüldü</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Ödül AREA END-->
	<!--Basındabiz AREA START-->
	<!--
	  <section class="about-team-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-heading">
						<h3>Basında Biz</h3>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/team-1.jpg') }}" alt="">
								<div class="team-overlay"></div>
								<div class="soc-link">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<span>CEO Founder</span>
								<h5>Nirob Khan</h5>
								<p>Odd future photo booth flannel ethnic pug occupy keffiyeh synth blue bottle.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/team-2.jpg') }}" alt="">
								<div class="team-overlay"></div>
								<div class="soc-link">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<span>Architect</span>
								<h5>Kimberly Austim</h5>
								<p>Odd future photo booth flannel ethnic pug occupy keffiyeh synth blue bottle.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 hidden-sm">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/team-3.jpg')}}" alt="">
								<div class="team-overlay"></div>
								<div class="soc-link">
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<span>Director</span>
								<h5>Salim Rana</h5>
								<p>Odd future photo booth flannel ethnic pug occupy keffiyeh synth blue bottle.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Basındabiz AREA END-->

	<!--ABOUT US TESTIMONIAL AREA START-->
	<div class="about-us-testimonial">
		<div class="container">
			<div class="row">
			</div>
			<div class="col-md-12">
				<div class="about-heading">
					<h3>Müsteri Yorumları</h3></div>
				<div class="client-quote" style="margin-right: 26px;">
					<p class="description">Hizmet kalitesi oldukça yüksek, İMBAT SPOR sizin siparişlerinizin kalitesini sizden daha fazla düşünüyor. Onlar ile çalışmaktan oldukça memnunuz. </p>
					<p><span>
						<strong>Ömer Kurt, </strong>İzmir Çiğli Belediyesi Hesap İşleri Müdürü</span></p>
				</div>
				<div class="client-quote " style="margin-right: 26px;">
					<p class="description">İMBAT SPOR, yaptığı işin garantisini verebilen, yenilikçi ve kaliteli bir firma. Bu özelliği ile spor malzemeleri denince bizim aklımıza gelen ilk isimdir.</p>
					<p><span>
						<strong>Utku Baş, </strong>İzmir Bayraklı Belediyesi Spor İşleri Müdürü</span></p>
				</div>
				<div class="client-quote" style="margin-right: 26px;">
					<p class="description"> Üretim ve satış mağazaları İzmir'de olmasına rağmen, Manisa'daymış gibi her ihtiyaç anında ulaşabildiğimiz, ürünlerimizi büyük bir titizlikle hazırlayıp, teslim eden, işinde oldukça ilgili ve dinamik çalışan bir firmadır. </p>
					<p><span>
						<strong>Uğur Kocagöz, </strong>Manisa Salihli Belediyesi Spor İşleri Müdürü</span></p>
				</div>

				<div class="client-quote" style="margin-right: 26px;">
					<p class="description"> Baskı işlerinde veya spor malzemelerinde yıllardır düşünmeden tercih ettiğimiz firmadır. Kalitelidir, ekibi sağlam ve güvenilirdir. Gönül rahatlığı ile güvenebilirsiniz.</p>
					<p><span>
						<strong>Güven Beyit, </strong>İzmir Foça Belediye Spor İşleri Koordinatörü</span></p>
				</div>
				<div class="client-quote" style="margin-right: 26px;">
					<p class="description">İstediğimiz her malzeme için elinde bir alternatif bulunduran, güvenilir firmalar ile çalışan ve sağlam hizmet veren İMBAT SPOR firmasını herkese tavsiye ederim.</p>
					<p><span>
						<strong>Nihat Umut, </strong>İzmir Karşıyaka Masterler Fedarasyon Teknik Direktörü</span></p>
				</div>
				<div class="client-quote" style="margin-right: 26px;">
					<p class="description">İMBAT SPOR bir telefonla ulaşıp, bir mail ile yazışarak yüzlerce parça toptan malzemeyi oldukça hızlı biçimde elimize her daim ulaştırabiliyor. Gözümüzü arkada bırakmadığı için teşekkür ediyoruz.</p>
					<p><span>
						<strong>İlker Seven, </strong>İzmir Karşıyaka Masterler Fedarasyon Teknik Direktörü</span></p>
				</div>

				<div class="client-quote" style="margin-right: 26px;">
					<p class="description">Ekip oldukça ilgili, hizmet oldukça kaliteli. Fiyat ve hizmet eşikleri yüksek bir firma.  </p>
					<p><span>
						<strong>Özgür Aslan , </strong>İzmir Aliağa Belediye Spor Yöneticisi</span></p>
				</div>

			</div>
		</div>
	</div>
	<!--ABOUT US TESTIMONIAL AREA END-->
    <!--ABOUT US TEAM AREA START-->
	<section class="about-team-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-heading">
						<h3>Hizmet Noktalarımız</h3>
						<p>Mağazalarımızı, Danışma ve Satış Ofisimizi ziyaret edebilirsiniz.</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-item">
							<div class="team-thumb">
								 <img src="{{ asset('static/img/hakkimizda_img/magazaa2.jpg') }}" alt="">
								<div class="team-overlay"></div>
								<div class="soc-link">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<a href="/contact"><span>İlk Mağazamız</span></a>
							</div>
						</div>
					</div> 
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/hakkimizda_img/magaza1.jpg') }}" alt="">
								<div class="team-overlay"></div> 
								<div class="soc-link">
									<a href="https://www.facebook.com/imbat.spor"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/imbat_spor35/"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<a href="/contact"><span>İkinci Mağazamız</span></a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 hidden-sm">
						<div class="team-item">
							<div class="team-thumb">
								<img src="{{ asset('static/img/hakkimizda_img/ofis.jpg')}}" alt="">
								<div class="team-overlay"></div> 
								<div class="soc-link">
									<a href="https://www.facebook.com/imbat.spor"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/imbat_spor35/"><i class="fa fa-instagram"></i></a>
								</div>
							</div>
							<div class="team-content">
								<span>Danışma ve Satış Ofisimiz</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!--ABOUT US TEAM AREA END-->





{% endblock %}