{% extends 'AppBundle:Default:base.html.twig' %}

{% block content %}
    <!-- slider area start -->
    <div class="slider-are">
        <div class="h-slider-1 all-navs">
            <div class="h1-single-slide">
                <img src="{{ asset('static//img//slider//h1//imbatspor-shop1.png') }}" alt="" />
                <div class="slider-text">
                    <h3>Yeni Koleksiyon 2017</h3>
                    <h2>Tüm yeni spor malzemeleri için</h2>

                    <a href="#">Katalog görüntüle</a>
                </div>
            </div>
            <div class="h1-single-slide">
                <img src="{{ asset('static//img//slider//h1//imbatspor-shop1.png') }}" alt="" />
                <div class="slider-text">
                    <h3>Yeni Koleksiyon 2017</h3>
                    <h2>Tüm yeni spor malzemeleri için</h2>

                    <a href="#">Katalog görüntüle</a>
                </div>
            </div>
            <div class="h1-single-slide">
                <img src="{{ asset('static//img//slider//h1//imbatspor-shop1.png') }}" alt="" />
                <div class="slider-text">
                    <h3>Yeni Koleksiyon 2017</h3>
                    <h2>Tüm yeni spor malzemeleri için</h2>

                    <a href="#">Katalog görüntüle</a>
                </div>
            </div>
        </div>
    </div>
    <!-- slider area end -->
    <div class="bizi-taniyin" style="text-align: center !important;" >
        <h2 class="new-title" >BİZİ TANIYIN</h2>

        <p style="font-size: 15px;">İmbat Spor, 1994 yılından bugüne kadar spor malzemeleri satış ve imalatı alanında hizmet vermiştir.
            Alanında uzman bir çok firma ile çalışmıştır. Halihazırda iki mağazası bulunan firmamız, dünden bugüne sizlere en kaliteli ürünleri sağlamak için çalışmaktadır.
            Firmamızdan, bir çok spor branşına ait ürünleri ve aksesuarları talep edebilir, güvenilir hizmet kalitemiz ile sizlere sunduğumuz ürünleri kısa zamanda ve en uygun fiyatlar ile temin edebilirsiniz. Toptan ve parakende hizmetlerimizden yararlanmak için aşağıda bulunan referans ürünlerimizi inceleyebilirsiniz!



        </p>
    </div>


    <div class="right-testi">
        <div class="right-testi-img">

        </div>
    </div>

    <!-- promo 1 area end -->

    <!-- new arrivals area start -->
    <div class="new-arrivals-area">
        <div class="container-fluid ">
            <div class="new-title-wrap"> <h2 class="new-title">ürünlerimizi keşfedin</h2> </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row is-row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/77.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/77.jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
													<span class="regular-info">
														<span class="info">Çiğli Belediye Spor Klübü</span>
													</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/33.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/33.jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
														<span class="regular-info">
															<span class="info">Çiğli Belediye Spor Klübü</span>
														</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/113.jpg') }}" alt="">
                                <img class="secondary-img" src="{{asset('static/img/products/new/113.jpg')  }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
														<span class="regular-info">
															<span class="info">Çiğli Belediye Spor Klübü</span>
														</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/111.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/111.jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
													<span class="regular-info">
														<span class="info">Çiğli Belediye Spor Klübü</span>
													</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row is-row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/44.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/44.jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
														<span class="regular-info">
															<span class="info">Çiğli Belediye Spor Klübü</span>
														</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/112.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/112.jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
														<span class="regular-info">
															<span class="info">Çiğli Belediye Spor Klübü</span>
														</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/66.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/66    .jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
													<span class="regular-info">
														<span class="info">Çiğli Belediye Spor Klübü</span>
													</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="p-area">
                            <div class="p-img-area">
                                <img class="primary-img" src="{{ asset('static/img/products/new/55.jpg') }}" alt="">
                                <img class="secondary-img" src="{{ asset('static/img/products/new/55.jpg') }}" alt="">
                            </div>
                            <div class="p-infos">
                                <div class="p-info">
                                    <div class="info-box">
												<span class="regular-info">
													<span class="info">Çiğli Belediye Spor Klübü</span>
												</span>
                                    </div>
                                    <div class="al-btns">
                                        <button class="button btn-cart" title="Add to Cart" type="button"><span> <i class="fa  fa-eye"></i> İncele</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- new arrivals area end -->


    <!--home blog area start -->
    <div class="h-blog-area">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <!--home blog area start -->


{% endblock %}